/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0;  border: 0; outline: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* TypeScale
---------------------------*/

html {font-size: 1em;}

body {
  background-color: white;
  margin: 2%;
  font-family: 'Hasklig Regular', monospace;
  font-weight: 600;
  line-height: 1.2;
  color: #e3e3e3;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}


/* Typography
---------------------------*/

.background-image {
background: radial-gradient(
  rgba(0,0,0,0.6),
  rgba(0,0,0,0.6)
  ),
   /* url('images/blur4k.png');
   */
   url('https://source.unsplash.com/random?mountain'); 
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}

h1,h2,h3,h4,h5 {
  color: #239ec4;
  font-family: 'Roboto Condensed', sans-serif;
  word-wrap: break-word;
}

body, p, a {
  font-family: 'Hasklig', monospace;
  font-weight: 400;
}

h1.title {
  display: inline;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  color: #239ec4;
}

a {
  color: #e3e3e3;
  font-size: .9em;
  text-decoration: none;
}

a:hover {
  color: #239ec4;
}

nav ul {
  display: inline;
}


/* CARD STYLES
---------------------------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
  align-items: start;
}

.card-container .ux-card {
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.card {
  padding: 30px;
  background: rgba(0,0,0,0.2);
  border-radius: 15px;
}

.card h3 {
  margin-top: 1%;
}

.bible-verse, .bible-verse script {
  color: lightblue;
  font-family: Hasklig;
}




/* CARD STYLES
---------------------------*/
