/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0;  border: 0; outline: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* TypeScale
---------------------------*/

html {font-size: 1em;}

body {
  background-color: white;
  margin: 0%;
  font-family: 'SF Mono', monospace;
  font-weight: 600;
  line-height: 1.2;
  color: #e3e3e3;
  height: auto;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  margin: 2%;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.5em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}


/* Typography
---------------------------*/

.background-image {
   background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('images/pixel.png');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   height: 100vh;
}

h1,h2,h3,h4,h5 {
  color: #fefefe;
  text-shadow: 3px 1px 5px#333;
  font-family: 'PT Sans', sans-serif;
  word-wrap: break-word;
}

body, p, a {
  font-family: 'SF Mono', monospace;
  font-weight: 600;
  line-height: 1.7;
}

h1.title, #txt {
  font-weight: 900;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-size: 8em;
  line-height: 0.75;
  padding: 50px 0px;
}

h1.ending {
  margin: auto;
}

h3 {
  font-weight: 900;
  color: #fefefe;
  text-shadow: 3px 1px 5px #333;
}

a, p {
  color: #e3e3e3;
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  text-shadow: 3px 3px 3px #333;
  color: #78dba9
}

nav ul {
  display: inline;
}

/*ul li:before {
    content: "• ";
}
*/

/* CARD STYLES
---------------------------*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2.5em;
  grid-auto-flow: dense;
  align-items: center;
  margin: 5% 6%;
  padding-bottom: 100px;
}

.card-container .ux-card {
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
}

.card {
  padding: 30px;
  height: 85%;
  border-radius: 10px;
  background: #101419;
  border: 2px solid #78dba9;
  backdrop-filter: blur(3px);
  box-shadow: 3px 3px 8px #000;
}

.card h3 {
  margin-top: 1%;
  color: #78dba9;
  text-align: center;
  font-weight: 900;
  font-family: 'PT Sans', sans-serif;
}

.bible-verse, .bible-verse script {
  color: lightblue;
  font-family: Hasklig;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
body {
  background-color: #222;
}
#currentTime {
  font-size: 10em;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  color: #f05b19;
  margin: 100px auto;
}

footer {
    margin: 2%;
}

/* CARD STYLES
---------------------------*/
